spring:
  datasource:
    url: jdbc:mysql://localhost:3306/rcmd_practice # TODO 실제 RDS 정보로 변경
    username: USERNAME # TODO 실제 DB username 으로 변경
    password: PASSWORD # TODO 실제 DB password 으로 변경
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always # insert data automatically
      data-locations: classpath:data.sql
server:
  port: 8080
  servlet:
    context-path: /api/v1
logging:
  level:
    com.example.rcmd: INFO
    org.hibernate.SQL: DEBUG